<h2>{{pageTitle}}</h2>
<form #quizTestForm="ngForm" (ngSubmit)="submitQuiz()">
    <div *ngFor="let data of displayQuizData; index as quizDataPosition">
        <div name="questions" [innerHTML]="data.question">
        </div>
        <input class="selectButton" [class.selectedAnswer]="data.selected_answers === combinedData"
            *ngFor="let combinedData of data.combined_answers ; index as buttonPosition" type="button"
            (click)="selectedValue(combinedData, quizDataPosition)" [value]="combinedData" />
    </div>
    <br/>
    <div>
        <button class="selectButton submitQuiz" *ngIf="enableSubmit" type="submit">Submit</button>
    </div>
</form>